@font-face {
  font-family: 'icon';
  src:  url('../fonts/icon.eot?ye88n8');
  src:  url('../fonts/icon.eot?ye88n8#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf?ye88n8') format('truetype'),
    url('../fonts/icon.woff?ye88n8') format('woff'),
    url('../fonts/icon.svg?ye88n8#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
  color: #fff;
  font-size: 36px;
}
.icon-instagram:before {
  content: "\e902";
  color: #fff;
  font-size: 36px;
}
.icon-mail:before {
  content: "\e903";
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.icon-phone:before {
  content: "\e904";
  color: #fff;
  font-size: 24px;
}
.icon-vk:before {
  content: "\e905";
  color: #fff;
  font-size: 36px;
}
.icon-WhatsApp:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
  color: #fff;
  font-size: 36px;
}
