@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #333;
}
body.lock{
	overflow: hidden;
}
.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
main{
	padding-bottom: 50px;
}
@media (min-width: 576px){
	.container{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (min-width: 768px){
	.container{
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (min-width: 1200px){
	.container{
		padding-left: 0;
		padding-right: 0;
	}
	main{
	padding-bottom: 100px;
}
}
p{
	padding-bottom: 10px;
}
a{
	text-decoration: none;
}
.subtitle{
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.btn-strelka{
	display: block;
	position: relative;
	border: 1px solid #F24841;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #F24841;
	font-weight: 500;
	font-size: 16px;
}

.btn-strelka:hover{
	text-decoration: underline;
}

.btn-strelka::before{
	content: '';
	position: absolute;
	font-family: 'icon';
	color: #F24841;
	right: 15px;
	top: 17px;
}

@media(min-width: 300px){
	.btn-strelka::before{
		content: '\e900';
	}
}
@media(min-width: 576px){
	.btn-strelka{
		font-size: 20px;
	}
}
/*Header*/
header{
	background-color: #212121;
	overflow-x: hidden;
}
header a{
	color: #fff;
}
.header__wrap{
	display: grid;
	padding-top: 50px;
	padding-bottom: 30px;
}
.header__logo{
	justify-self: center;
}
.header__lead{
	max-width: 180px;
	justify-self: center;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 20px;
}
.header__phone{
	padding-bottom: 30px;
	font-size: 24px;
	text-align: center;
	white-space: nowrap;
}
.header__phone::before{
	padding-right: 10px;	
}
.header__whatsApp{
	background-color: #0DB614;
	font-size: 24px;
	border-radius: 7px;
  text-align: center;
  padding: 3px 7px;
  justify-self: center;
  align-self: center;
}
.header__whatsApp::before{
	padding-right: 12px;
}
@media(min-width: 768px){
	.header__wrap{
		grid-template-columns:  215px 200px 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.header__logo{
		grid-area: 1/1/3/2;
	}
	.header__lead{
		grid-area: 1/2/3/3;
		padding: 0;
	}
	.header__phone{
		grid-area: 1/3/2/4;
		padding: 0;
		justify-self: right;
	}
	.header__whatsApp{
		grid-area: 2/3/3/4;
		justify-self: right;
	}
}
/*Меню-бургер*/
/* гланое меню */
.mainmenu:not(.active){
	display: none;
}
.mainmenu {
	background-color: #333333;
	border-bottom: 5px solid #F24841;
}
.mainmenu .menu-list {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	width: 200px;
	overflow-x: hidden;
}

.mainmenu .menu-item {
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	list-style: none;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 2px solid #fff;
}
.mainmenu .menu-item:hover{
	background-color: #F24841;
	border-bottom: none;
}
.mainmenu .menu-item:last-child{
	border: none;
}

@media(min-width: 768px){
	.mainmenu:not(.active){
	display: block;
}
	.mainmenu .menu-list{
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		
	}
	.mainmenu .menu-item {	
		border-bottom: 0;		
		padding-right: 5px;
		padding-left: 5px;
		white-space: nowrap;
		width: 100%;
		font-size: 16px;
	}
	.mainmenu .menu-item:not(:last-child) {	
		border-right: 2px solid #fff;

	}
}
/* бургер меню */
.header__burger {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	font-weight: 700;
	font-size: 24px;
}

.btn-burger {
	display: block;
	max-width: 115px;
	height: 28px;
	text-transform: uppercase;
	position: relative;
}

.btn-burger p {
	padding-left: 40px;
	color: #fff;
}

.btn-burger span,
.btn-burger span::before,
.btn-burger span::after {
	position: absolute;
	top: 50%;
	width: 25px;
	height: 2px;
	background-color: #fff;
	margin-top: -1px;
}

.btn-burger span::before,
.btn-burger span::after {
	content: '';
	transition: .5s;
}
.btn-burger span::before {
	transform: translateY(-7px);
}
.btn-burger span::after {
	transform: translateY(7px);
}
/* активное бургер меню */
.btn-burger.active span {
	height: 0;
}

.btn-burger.active span:before {
	transform: rotate(39deg);
}

.btn-burger.active span:after {
	transform: rotate(-39deg);
}
@media(min-width: 768px){
	.header__burger{
		display: none;
	}
	}
/*Баннер*/

.banner__wrap {
	width: 100%;
	max-width: 750px;
	height: 270px;
	color: #fff;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: rgba(51, 51, 51, .9);
	overflow: hidden;

}

.banner__wrap h3 {
	color: #fff;
	font-size: 24px;
	margin-left: 15px;
	margin-right: 15px;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.33);
}

.banner__btn {
	max-width: 250px;
	min-width: 190px;
	margin-right: 30px;
	margin-left: 30px;
	border-color: #fff;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	white-space: nowrap;
}
.banner .banner__btn::before{
	color: #fff;
}


@media(min-width: 550px){
	.banner__wrap {
		height: 350px;
	}

	.banner__wrap h3 {
		font-size: 28px;
	}

	.banner__btn {
		max-width: 300px;
		margin-left: 37px;
		font-size: 24px;
	}
}
@media(min-width: 767px){
	.banner {
		padding: 120px 0;
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% ;
	}
	.banner__wrap {
		background-color: rgba(51, 51, 51, 0.8);
		justify-content: space-around;
	}
	.banner__wrap h3 {
		font-size: 36px;
		margin-left: 30px;
		margin-right: 30px;
	}
	.banner__btn {
		max-width: 370px;
	}
	
}

/* Почему тонировка - это удобно и выгодно? */

.advantages {
	margin-bottom: 30px;
	overflow-x: hidden; 
	margin-top: 30px;
}

.advantages .subtitle{
	padding: 20px 0;
}

.advantages__items {	
	grid-gap: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
	list-style: none;
}
.advantages__item{
	display: grid;
	grid-template-columns: 100px 1fr;

}
.advantages__item img{
	justify-self: center;
}
.advantages__item p{
	text-align: center;
	align-self: center;	
}

@media(min-width: 820px){
	.advantages__item{
		border: 1px solid #9F9E9E;
		border-radius: 30px;
		min-height: 200px;
		grid-template-columns: 1fr;
		padding: 20px;
	} 
	
}

@media(min-width: 1170px){
	.advantages .subtitle{
		font-size: 36px;
		max-width: 700px;
		line-height: 42px;
	}
	
}

/*Портфолио*/
.portfolio{
	overflow-x: hidden;
}
.portfolio__title{
	margin-bottom: 30px;
}
.portfolio__slide-title{
	font-size: 16px;
	font-weight: 400;
	padding: 10px 7px 7px;
	text-align: center;
}
.portfolio .swiper-slide:hover .portfolio__slide-title{
	background-color: #F24841;
}
.portfolio .swiper-slide:hover .portfolio__slide-title a{
	color: #fff;
}
.portfolioSwiper{
	width: 230px;
	margin: 0 auto;
}
.portfolioSwiper .portfolio__slide-thumb{
	position: relative;
	padding: 0 0 126%;
}
.portfolioSwiper .portfolio__slide-thumb img{
	position: absolute;
	height: 100%;
	object-fit: cover;
	position: absolute;
	width: 100%;
}
.portfolio .swiper-pagination-bullet{
	width: 15px;
	height: 15px;
	background: #fff;
  opacity: 1;
  border: 1px solid #F24841;
}
.portfolio .swiper-pagination-bullet-active{
	background: #F24841;
}
.portfolio .swiper-pagination-bullet:not(:first-child){
	margin-left: 10px;
}
.portfolio .swiper-pagination{
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
}
.portfolio .portfolio__btn{
	margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}
@media (min-width: 576px){
	.portfolioSwiper{
		width: 500px;
	}
	.portfolio .portfolio__btn{
		margin-left: 20px;
		max-width: 300px;
	}
}

@media (min-width: 992px){
	.portfolioSwiper{
		width: 770px;
	}

}
@media (min-width: 1170px){
	.portfolioSwiper{
		width: 1130px;
	}
	.portfolio .swiper-pagination{
		display: none;
	}
}
/*aboutzakaz*/
.aboutzakaz{
	margin-top: 40px;
}
.aboutzakaz .subtitle{
	padding-bottom: 20px;
}
@media (min-width: 1170px){
	.aboutzakaz{
	margin-top: 60px;
}
.aboutzakaz .subtitle{
	padding-bottom: 25px;
}
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: 5;
	opacity: 0;
	visibility: hidden;
}
.popup.open{
	opacity: 1;
	visibility: visible;
}
.popup__body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	background-color: #fff;
	max-width: 800px;
	padding: 30px 15px;
	position: relative;
}
.popup__close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	color: #F24841;
}


/* forma */
#zayavka-form {
	width: 100%;
	height: 100%;
}

.form__input {
	margin-top: 20px
}
#zayavka-form textarea {
	width: 100%;
	height: 160px;
	padding: 15px;
	font-size: 18px;
}
.form__input input{
	width: 100%;
	max-height: 40px;
	font-size: 18px;
	margin-bottom: 5px;
	padding: 15px;
}


.form__btn {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}
.form__btn input{
	max-width: 300px;
	width: 100%;
	background-color: unset;
	cursor: pointer;
	padding-left: 0;
}
.form__btn input:hover{
	text-decoration: none;
}

/* page portfolio */

.page-portfolio__items{
	grid-gap: 30px 80px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.page-portfolio__item {
	text-align: center;
	margin: 0 auto; 
	width: 100%;
	max-width: 230px;
}

.page-portfolio__item:hover {
	background-color: #F24841;
}

.page-portfolio__item:hover a{
	color: #fff;
}

.page-portfolio__item h3{
	height: 55px;
	margin-top: 5px;
	font-size: 16px;
}


.page-portfolio__thumb {
	padding: 0px 0px 290px 0px;
	overflow: hidden;
	position: relative;
}

.page-portfolio__thumb img{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.page-portfolio__title {
	height: 100%;
	padding: 0px 10px 0px 10px;
	margin-bottom: 5px;
}

@media(min-width: 768px){
	.page-portfolio__items{
		width: 600px;
		grid-template-columns: repeat(auto-fit, 230px);
	}
	.page-portfolio__item{
		margin: 0 0;
	}
}
@media(min-width: 910px){
	.page-portfolio__items {
		width: 100%;
		max-width: 910px;
	}
}
@media(min-width: 1200px){
	.page-portfolio__items {
		width: 100%;
		max-width: 1200px;
		padding-left: 20px;
	}
}

/* footer */
footer {
	background-color: #212121;
	font-size: 16px;
	line-height: 1.25em;
	text-align: center;
	padding-bottom: 40px;
}

footer p, footer h3{
	color: #fff;
}

.footer__logo img {
	width: 200px;
	height: 68px;
	margin: 59px 0 16px 0;
}
.footer__social {
	margin: 15px 0;
}
.footer__social h3 {
	font-size: 24px;
	margin: 15px 0 20px 0;
}
.footer__social-list {
	display: flex;
	list-style: none;
	height: 41px;
    justify-content: center;
    align-items: center;
}
.social-list__item:not(:last-child) {
	padding-right: 10px;
}

.footer__contact {
	margin-bottom: 20px;
}

.footer__contact a {
	text-decoration: none;
	color: #fff;
}
.footer__contact-top {
	margin-bottom: 15px;
}

.footer__contact-top a {
	font-size: 24px;
	font-weight: 700;
}

.footer__contact-bottom {}
.footer__contact-bottom a {
	font-size: 18px;
}

.footer__copy-top p {
	margin-bottom: 18px;
}

.footer__copy-bottom p {
	margin-bottom: 4px;
}

.footer__copy-bottom a {
	font-weight: 500;
	text-decoration: none;
	color: #F24841;
}

.footer__social-list a:before {
	color: #fff;
  	font-size: 36px;
}

.footer__contact-top i:before {
	color: #fff;
  	font-size: 24px;
}

.footer__contact-bottom i:before {
	color: #fff;
  	font-size: 18px;
 	font-weight: 400;
}



@media (min-width: 750px)
{
	footer {
		text-align: unset;
		min-height: 341px;
	}
	.footer__social {
		height: auto;
		text-align: center;
	}
	.footer__copyright {
		border-top: 1px solid #9F9E9E;
		text-align: center;
	}
	.footer__copy-top {
		margin-top: 14px;
	}
	.footer__top-row {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.footer__bottom {
		margin-top: 30px;
	}
	.footer__logo {
		max-width: 305px;
	}
	.footer__contact {
		height: 57px;
		align-items: center;
		text-align: right;
	}
	.footer__contact-top a {
		padding-left: 10px;
	}

}
